body {
	background-color: #f4f4f4;
}

.guest-layout {
	background-color: #f4f4f4;
}

.guest-layout .content {
	background-color: white;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #b0b0b0;
}

.guest-layout .section-title {
	padding: 2px 8px 2px 8px;
	border-top: 4px solid #0071e1;
	font-size: medium;
}

.guest-layout .card {
	background-color: white;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #b0b0b0;
}

.guest-layout .photo {
	border-radius: 3px;
	box-shadow: 1px 1px 2px #b0b0b0;
}

.guest-layout .login-photo {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.guest-layout .small-text {
	font-size: small;
}