body {
	background-color: #f4f4f4;
}

.guest-layout {
	background-color: #f4f4f4;
}

.guest-layout .content {
	background-color: white;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #b0b0b0;
}

.guest-layout .card {
	background-color: white;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #b0b0b0;
}

.guest-layout .photo {
	border-radius: 3px;
	box-shadow: 1px 1px 2px #b0b0b0;
}

.guest-layout .login-photo {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}